# Getting started with Python

<b>Summary</b>:
> * Getting started with Colab
> * Numbers and basic Python operations
>> * Variables
>> * The four operations
>> * Integers and floating points
>> * Power
>> * Complex numbers
> * Strings
>> * Quotes
>> * Concatenate strings
>> * Indexing
>> * Slicing
>> * Including external variables in a string
> * Lists
>> * Again indexing and slicing
>> * Modifying a list
>> * Deleting elements
>> * Length
>> * List of lists
> * Dictionaries
>> * Building them
>> * Modifying a dictionary
> * Other structures
>> * Tuple
>> * Set
> * True or false?
>> * Boolean operators
>> * `if` statement
> * Copying variables

For more information about working with Colaboratory notebooks, see [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb).

For a basic Python tutorial see: https://docs.python.org/3/tutorial/introduction.html

For more details see: https://docs.python.org/3/tutorial/controlflow.html
For more details: https://docs.python.org/3/tutorial/datastructures.html

## Getting started with Colab

Colaboratory is a free Jupyter notebook environment for running Python code that requires no setup and runs entirely in the cloud.

With Colaboratory you can write and execute code, save and share your analyses, and access powerful computing resources, all for free from your browser.

The notebook is divided in *cells* of two kind:
 - Text cell, as the one in which this sentence is written
 - Code cell, as the one below

In [6]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

To execute the code in the above cell, select it with a click and then either press the play button to the left of the code, or use the keyboard shortcut "Command/Ctrl+Enter".

All cells modify the same global state, so variables that you define by executing a cell can be used in other cells:

In [7]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

An extremely useful notebook feature is leaving the cursor on a method name or a variable name for few seconds. This will show the quick documentation of that method, for example try with `print()` below.

In [8]:
print( )

A more extended documentation can be seen also using the question mark at the end of the method.

In [5]:
print?

## Numbers and basic Python operations

### Variables 

You do not need to specify the variable type in python (as for example in C). The interpreter understands the type for you depending on the syntax.

In [ ]:
an_integer = 1

a_float = 1.0

a_string = "hello"

To inspect the variable type you can use the function `type()`.

In [ ]:
print(type(an_integer))

print(type(a_float))

print(type(a_string))

<class 'int'>
<class 'float'>
<class 'str'>

### The four operations

In [ ]:
x = 2 + 2 # This returns an integer
print(x)

x = 50 - 5*6 # This returns an integer
print(x)

x = (50 - 5*6) / 4 # Division always returns a floating point (float) number
print(x)

4
20
5.0

In [ ]:
x = 8 / 5  # basic division
print(x)

x = 17 // 3  # floor division discards the fractional part
print(x)

x = 17 % 3  # the % operator returns the remainder of the division
print(x)

1.6
5
2

### Power

In [ ]:
x = 5 ** 2  # 5 squared
print(x)

x = 2 ** 7  # 2 to the power of 7
print(x)

25
128

### Complex numbers

In [ ]:
z1 = 3 + 4j
z2 = 2 - 1j
print("Sum of complex numbers: ", z1 + z2)
print("Product of complex numbers: ", z1 * z2)

Sum of complex numbers:  (5+3j)
Product of complex numbers:  (10+5j)

## Strings

### Quotes
They can be enclosed in single quotes '...' or double quotes "..." with the same result

In [ ]:
print('ciao')  # single quotes

print('doesn\'t')  # use \' to escape the single quote...

print("doesn't")  # ...or use double quotes instead


print('"Yes," they said.')

print("\"Yes,\" they said.")

print('"Isn\'t," they said.')

ciao
doesn't
doesn't
"Yes," they said.
"Yes," they said.
"Isn't," they said.

### Concatenate strings

In [ ]:
print('plus ' + 'operator')

print('star operator ' * 2)

print(3 * 'un' + 'ium') # 3 times 'un', followed by 'ium'

plus operator
star operator star operator
unununium

### Indexing

In [ ]:
word = 'Python'

print(word[0])  # character in position 0

print(word[5])  # character in position 5

print(word[-1]) # last character

print(word[-2]) # two characters from the end

P
n
n
o

### Slicing

In [ ]:
print(word[0:2])  # characters from position 0 (included) to 2 (excluded)

print(word[2:5])  # characters from position 2 (included) to 5 (excluded)

print(word[2:])  # characters from position 2 (included) to the end

print(word[:3])  # characters from the beginning to the position 3 (excluded)

Py
tho
thon
Pyt

### Including external variables in a string

Strings can be used as fixed template in which one or more variable can added. One way to do this is with the method `format()`.

In [ ]:
a_string = 'The value of my function at {} is {}'
 
x = 0
y = x**0.5
print(a_string.format(x,y))

x = 1
y = x**0.5
print(a_string.format(x,y))

x = 2
y = x**0.5
print(a_string.format(x,y))

The value of my function at 0 is 0.0
The value of my function at 1 is 1.0
The value of my function at 2 is 1.4142135623730951

Thera are a lot of options to format a variable into a string https://docs.python.org/3/library/string.html#formatstrings. (Here for a more user friendly tutorial https://pyformat.info/).
In the box below you can see an examples.

In [ ]:
a_string = 'The value of my function at {:.0f} is {:.3f}'  # This indicates how many decimals to write
 
x = 0
y = x**0.5
print(a_string.format(x,y))

x = 1
y = x**0.5
print(a_string.format(x,y))

x = 2
y = x**0.5
print(a_string.format(x,y))

The value of my function at 0 is 0.000
The value of my function at 1 is 1.000
The value of my function at 2 is 1.414

## Lists

The first data structure we see is a list. This is one way of storing multiple variables in a single object.

In [3]:
squares = [1, 4, 9, 16, 25]  # build a list using square brakets
print(squares)

[1, 4, 9, 16, 25]

Differently from the standard programming languages, lists can store variables of different types.

In [4]:
a_list = [1, 2.0, 'a', 'ciao']
print(a_list)

[1, 2.0, 'a', 'ciao']

### Indexing and slicing

It works exactly as for the strings.

In [6]:
print(squares[0])  # indexing returns the item

print(squares[-1])  # getting the last element

print(squares[-3:])  # slicing returns a new list

print(squares[:])

1
25
[9, 16, 25]
[1, 4, 9, 16, 25]

### Modifying a list

Some useful functions are listed below, for more details see the official Python documentation linked above.

In [7]:
squares = [1, 4, 9, 16, 25]

squares = squares + [36, 49]  # Concatenating as for strings
print(squares)

squares.append(81)  # Adding an element at the end of the list
print(squares)

squares.insert(7, 65)  # Adding an element in a specific position
print(squares)

squares[-2] = 64 # Modifying a single value
print(squares)

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 81]
[1, 4, 9, 16, 25, 36, 49, 65, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Deleting elements

In [8]:
squares = [1, 4, 9, 16, 25]

del(squares[2])  # Deleting the third element of the list
print(squares)

del(squares[:2]) # Deleting the first two elements
print(squares)

[1, 4, 16, 25]
[16, 25]

### Length

In [9]:
l = len(squares)  # Function to compute the length of a list
print(l)

string = "ciao"
print (len(string))  # It works also for strings and other data structures

2
4

### List of lists

It is possible to create nested structures.

In [10]:
a = ['a', 'b', 'c']
n = [1, 2, 3, 4]
x = [a, n, 9]
print(x)

[['a', 'b', 'c'], [1, 2, 3, 4], 9]

In [11]:
print(x[1])  # The first index calls the whole sub-list

print(x[1][2:])  # The second index calls the elements of the sub-list

[1, 2, 3, 4]
[3, 4]

### Membership testing

Check if an element is in the list

In [13]:
answer = 1 in [1,2,3,4]
print(answer)

answer = 5 in [1,2,3,4]
print(answer)

True
False

## Dictionaries

Unlike lists, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be, for example, numbers or strings.

### Building them

In [56]:
tel = {'jack': 4098, 'tom': 4139}  # Build dictionaries with curly brackets
print(tel)

print(tel['jack'])  # Indexing is now done through a key

{'jack': 4098, 'tom': 4139}
4098

In [57]:
tel = dict((('jack', 4098), ('tom', 4139)))  # Alternative way to define a dictionary
print(tel)

{'jack': 4098, 'tom': 4139}

In [58]:
print(list(tel))  # casting the dict to a list returns the keys

print(tel.values())  # The value method returns the values

['jack', 'tom']
dict_values([4098, 4139])

### Modifying a dictionary

In [60]:
tel['jack'] = 1234  # Modify through key indexing
print (tel)

tel['jonh'] = 4321  # If the key doesn't exist, a new entry is added
print (tel)

del(tel['jack'])  # Delete an element
print (tel)

{'tom': 4139, 'jonh': 4321, 'jack': 1234}
{'tom': 4139, 'jonh': 4321, 'jack': 1234}
{'tom': 4139, 'jonh': 4321}

## Other structures

### Tuple

Very similar to lists.

In [61]:
tup = (12345, 54321, 'hello!')  # Built with round brackets

print(tup)

print(tup[1:])  # Normal indexing and slicing

(12345, 54321, 'hello!')
(54321, 'hello!')

But they are *immutable*: they cannot be modified by indexing:

In [62]:
tup[1] = 33

TypeError: 'tuple' object does not support item assignment

They are typically used for multiple assignments

In [63]:
a,b,c = (1,2,3)
print (a)
print (b)
print (c)

1
2
3

And can also be used as keys for the dictionaries (the list cannot)

In [65]:
d = {(1,0) : 'a' , (0,0) : 'b'}
print(d)
print(d[(1,0)])

{(1, 0): 'a', (0, 0): 'b'}
a

### Sets

A set is an unordered collection with no duplicate elements.

In [66]:
s = set(('a', 'a', 'b', 'c')) # Multiple elements are automatically deleted during construction
print (s)

{'b', 'a', 'c'}

Set operations

In [67]:
a = set('abracadabra')
b = set('alacazam')
print(a)                                  # unique letters in a

print(a - b)                              # letters in a but not in b

print(a | b)                              # letters in a or b or both

print(a & b)                              # letters in both a and b

print(a ^ b)                              # letters in a or b but not both

{'a', 'c', 'd', 'r', 'b'}
{'b', 'd', 'r'}
{'a', 'c', 'd', 'r', 'l', 'b', 'm', 'z'}
{'a', 'c'}
{'b', 'd', 'm', 'r', 'z', 'l'}

## True or false?

### Boolean operators

In [34]:
print(1 > 2)

print(1 < 2)

print(2 == 2)

print(1 != 1) # Different

False
True
True
False

In [35]:
print(1 <= 1 or 2 > 3)  # or

print(1 <= 1 and 2 > 3)  # and

print(not 1 == 1) # not

True
False
False

### <i>if</i> statement

The body of statements in Python is <b>indented</b>: they are spaced from the beginning of the line by a tab.

In [51]:
x = 11

if x < 0:
  x = 0
  print('Negative changed to zero')
elif x == 0:  # elif stands for else if
  print('Zero')
elif x == 1:
  print('Single')
else:
  print('More')

More

## Copying variables

In Python (and many other languages), it is important to understand the difference between assigning a copy using ```=```, a **shallow copy**, and a **deep copy**. 

- The operator ```=``` points your new variable to the existing object, it does not create a new oject. 
- A shallow copy creates a new object that contains references to the original object. 
- A deep copy creates a new object that contains copies of the original object, there are no references to the original object. 

To demonstrate the difference, we can use the operator ```id()``` to check the identity of each type of copy. The output of this operator will tell us whether the object within a copy contains a reference to the original  

First, we will use the operator ```=```.

In [52]:
a = [[0,1,2], [0,2,4]]
b = a

print(id(a) == id(b))          # True = b is the same object as a
print(id(a[0]) == id(b[0]))    # True = b[0] is the same object as a[0]

True
True

Next, we will perform a shallow copy.

In [53]:
import copy # we will need this module to perform shallow and deep copies

b = copy.copy(a)

print(id(a) == id(b))          # False = b is now a new object
print(id(a[0]) == id(b[0]))    # True = b[0] is the same object as a[0]

False
True

Finally, a deep copy.

In [54]:
b = copy.deepcopy(a)

print(id(a) == id(b))          # False = b is now a new object
print(id(a[0]) == id(b[0]))    # False - b[0] is now a new object

False
False